@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  overscroll-behavior: none;
  --wails-draggable: drag;
}

textarea, input, button, select, ul, li {
  --wails-draggable: no-drag;
}