@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "InterVariable";
  }
}

@layer base {
  .canvas-bg-color {
    @apply bg-canvas dark:bg-slate-900;
  }
  .row-content-bg-color {
    @apply bg-gray-50 dark:bg-slate-800/50;
  }
}

html {
  height: 100%;
}

body {
  overscroll-behavior: none;
  --wails-draggable: drag;
}

textarea,
input,
button,
select,
ul,
li,
td,
dd,
.no-drag {
  --wails-draggable: no-drag !important;
}
